<h1>Cart</h1>
<div id="cart">
    {{#if courses.length}}
        <table>
            <head>
                <tr>
                    <th>Cours name</th>
                    <th>Count</th>
                    <th>Actions</th>
                </tr>
            </head>
            <body>
                {{#each courses}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{count}}</td>
                        <td>
                            <button class="btn btn-small js-remove" data-id="{{id}}">Delete</button>
                        </td>
                    </tr>
                {{/each}}
            </body>
        </table>
        <p><strong>Price:</strong> <span class="price">{{price}}</span></p>
    {{else}}
        <p>Cart is empty</p>
    {{/if}}
</div>